<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="UMLProfile" name="New UML profile to register in Papyrus" schema="schema/UMLProfile.exsd"/>
   <extension-point id="UMLLibrary" name="New UML library to register in Papyrus" schema="schema/UMLLibrary.exsd"/>
   <extension-point id="UMLMetamodel" name="New UML metamodel to register in Papyrus" schema="schema/UMLMetamodel.exsd"/>
<extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="Standard profile for UML models"
            iconpath="icons/uml.gif"
            name="Standard"
            path="pathmap://UML_PROFILES/Standard.profile.uml"
            provider="Eclipse Modeling Project">
      </profile>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="Ecore profile"
            path="pathmap://UML_PROFILES/Ecore.profile.uml"
            iconpath="icons/ecore.gif"
            name="Ecore"
            provider="Eclipe.org">
      </profile>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="Standard UML primitive types Library "
            iconpath="icons/uml.gif"
            name="UMLPrimitiveTypes"
            path="pathmap://UML_LIBRARIES/UMLPrimitiveTypes.library.uml"
            provider="Eclipse.org">
      </library>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="Standard Ecore primitive types Library "
            iconpath="icons/ecore.gif"
            name="EcorePrimitiveTypes"
            path="pathmap://UML_LIBRARIES/EcorePrimitiveTypes.library.uml"
            provider="Eclipse.org">
      </library>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="Standard XML primitive types Library "
            iconpath="icons/xml.gif"
            name="XMLPrimitiveTypes"
            path="pathmap://UML_LIBRARIES/XMLPrimitiveTypes.library.uml"
            provider="Eclipse.org">
      </library>
   </extension> 
      <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="Standard Java primitive types Library "
            iconpath="icons/java.gif"
            name="JavaPrimitiveTypes"
            path="pathmap://UML_LIBRARIES/JavaPrimitiveTypes.library.uml"
            provider="Eclipse.org">
      </library>
   </extension>
     <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLMetamodel">
      <metamodel
            description="Standard UML metamodel "
            iconpath="icons/uml.gif"
            name="UMLMetamodel"
            path="pathmap://UML_METAMODELS/UML.metamodel.uml"
            provider="Eclipse.org">
      </metamodel>
   </extension>
   
    <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLMetamodel">
      <metamodel
            description="Standard Ecore metamodel"
            iconpath="icons/ecore.gif"
            name="EcoreMetamodel"
            path="pathmap://UML_METAMODELS/Ecore.metamodel.uml"
            provider="Eclipse.org">
      </metamodel>
   </extension>
</plugin>
