<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
Copyright (c) 2009, 2011, 2012 Obeo.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
    Obeo - initial API and implementation
-->
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.obeonetwork.dsl.sysml.design.SysMLDesignerPlugin"
               id="org.obeonetwork.dsl.sysml.design"
	       name="sysml">
    </component>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <wizard
           category="org.obeonetwork.dsl.uml2.design.category"
           class="org.obeonetwork.dsl.sysml.design.internal.wizards.newmodel.SysMLProjectWizard"
           finalPerspective="org.eclipse.sirius.ui.tools.perspective.modeling"
           icon="icons/NewUmlModel.gif"
           id="org.obeonetwork.dsl.sysml.design.newSysMLProject"
           name="SysML Project"
           preferredPerspectives="org.eclipse.sirius.ui.tools.perspective.modeling"
           project="true">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
       targetID="org.eclipse.sirius.ui.tools.perspective.modeling">
       <newWizardShortcut
         id="org.obeonetwork.dsl.sysml.design.newSysMLProject">
       </newWizardShortcut>
     </perspectiveExtension>
    </extension>
    <extension
        id="org.obeonetwork.dsl.sysml.design.in.flow.port"
        point="org.obeonetwork.gmf.runtime.diagram.ui.extension.rotatableNode">
     <image
           bottom="/org.obeonetwork.dsl.sysml.design/images/FlowPortDown.svg"
           id="org.obeonetwork.dsl.uml2.design.ui.extension.rotableNode.outFlowPort"
           left="/org.obeonetwork.dsl.sysml.design/images/FlowPortLeft.svg"
           right="/org.obeonetwork.dsl.sysml.design/images/FlowPortRight.svg"
           top="/org.obeonetwork.dsl.sysml.design/images/FlowPortUp.svg">
     </image>
     <image
           bottom="/org.obeonetwork.dsl.sysml.design/images/FlowPortUp.svg"
           id="org.obeonetwork.dsl.uml2.design.ui.extension.rotableNode.inFlowPort"
           left="/org.obeonetwork.dsl.sysml.design/images/FlowPortRight.svg"
           right="/org.obeonetwork.dsl.sysml.design/images/FlowPortLeft.svg"
           top="/org.obeonetwork.dsl.sysml.design/images/FlowPortDown.svg">
     </image>
     <image
           bottom="/org.obeonetwork.dsl.sysml.design/images/OutputPortDown.svg"
           id="org.obeonetwork.dsl.uml2.design.ui.extension.rotableNode.outPort"
           left="/org.obeonetwork.dsl.sysml.design/images/OutputPortLeft.svg"
           right="/org.obeonetwork.dsl.sysml.design/images/OutputPortRight.svg"
           top="/org.obeonetwork.dsl.sysml.design/images/OutputPortUp.svg">
     </image>
     <image
           bottom="/org.obeonetwork.dsl.sysml.design/images/InputPortDown.svg"
           id="org.obeonetwork.dsl.uml2.design.ui.extension.rotableNode.inPort"
           left="/org.obeonetwork.dsl.sysml.design/images/InputPortLeft.svg"
           right="/org.obeonetwork.dsl.sysml.design/images/InputPortRight.svg"
           top="/org.obeonetwork.dsl.sysml.design/images/InputPortUp.svg">
     </image>
  </extension>
    <extension
          point="org.eclipse.sirius.sessionManagerListener">
       <listener
             class="org.obeonetwork.dsl.sysml.design.internal.listeners.SysMLSessionManagerListener">
       </listener>
    </extension>
</plugin>
