<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/papyrus/0.7.0/SysML" 
       class = "org.eclipse.papyrus.sysml.SysmlPackage"
       genModel = "model/SysML.profile.genmodel" /> 
  </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SysML.profile -->
      <package
            uri="http://www.eclipse.org/papyrus/0.7.0/SysML/ModelElements"
            class="org.eclipse.papyrus.sysml.modelelements.ModelelementsPackage"
            genModel="model/SysML.profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SysML.profile -->
      <package
            uri="http://www.eclipse.org/papyrus/0.7.0/SysML/Blocks"
            class="org.eclipse.papyrus.sysml.blocks.BlocksPackage"
            genModel="model/SysML.profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SysML.profile -->
      <package
            uri="http://www.eclipse.org/papyrus/0.7.0/SysML/PortAndFlows"
            class="org.eclipse.papyrus.sysml.portandflows.PortandflowsPackage"
            genModel="model/SysML.profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SysML.profile -->
      <package
            uri="http://www.eclipse.org/papyrus/0.7.0/SysML/Constraints"
            class="org.eclipse.papyrus.sysml.constraints.ConstraintsPackage"
            genModel="model/SysML.profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SysML.profile -->
      <package
            uri="http://www.eclipse.org/papyrus/0.7.0/SysML/Activities"
            class="org.eclipse.papyrus.sysml.activities.ActivitiesPackage"
            genModel="model/SysML.profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SysML.profile -->
      <package
            uri="http://www.eclipse.org/papyrus/0.7.0/SysML/Allocations"
            class="org.eclipse.papyrus.sysml.allocations.AllocationsPackage"
            genModel="model/SysML.profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SysML.profile -->
      <package
            uri="http://www.eclipse.org/papyrus/0.7.0/SysML/Requirements"
            class="org.eclipse.papyrus.sysml.requirements.RequirementsPackage"
            genModel="model/SysML.profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SysML.profile -->
      <package
            uri="http://www.eclipse.org/papyrus/0.7.0/SysML/Interactions"
            class="org.eclipse.papyrus.sysml.interactions.InteractionsPackage"
            genModel="model/SysML.profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SysML.profile -->
      <package
            uri="http://www.eclipse.org/papyrus/0.7.0/SysML/StateMachines"
            class="org.eclipse.papyrus.sysml.statemachines.StatemachinesPackage"
            genModel="model/SysML.profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SysML.profile -->
      <package
            uri="http://www.eclipse.org/papyrus/0.7.0/SysML/UseCases"
            class="org.eclipse.papyrus.sysml.usecases.UsecasesPackage"
            genModel="model/SysML.profile.genmodel"/>
   </extension>

  
  <extension
        point="org.eclipse.uml2.uml.generated_package">
        <profile 
   			uri="http://www.eclipse.org/papyrus/0.7.0/SysML" 
   			location="pathmap://SysML_PROFILES/SysML.profile.uml#_TZ_nULU5EduiKqCzJMWbGw"/> 
  </extension>  

  
  <extension
        point="org.eclipse.uml2.uml.generated_package">
        <profile 
   			uri="http://www.eclipse.org/papyrus/0.7.0/SysML/ModelElements" 
   			location="pathmap://SysML_PROFILES/SysML.profile.uml#_Gx8MgLX7EduFmqQsrNB9lw"/> 
  </extension>  
  
  <extension
        point="org.eclipse.uml2.uml.generated_package">
        <profile 
   			uri="http://www.eclipse.org/papyrus/0.7.0/SysML/Blocks" 
   			location="pathmap://SysML_PROFILES/SysML.profile.uml#_fSw28LX7EduFmqQsrNB9lw"/> 
  </extension>    
  
  <extension
        point="org.eclipse.uml2.uml.generated_package">
        <profile 
   			uri="http://www.eclipse.org/papyrus/0.7.0/SysML/PortAndFlows" 
   			location="pathmap://SysML_PROFILES/SysML.profile.uml#_rpx28LX7EduFmqQsrNB9lw"/> 
  </extension>      

  <extension
        point="org.eclipse.uml2.uml.generated_package">
        <profile 
   			uri="http://www.eclipse.org/papyrus/0.7.0/SysML/Constraints" 
   			location="pathmap://SysML_PROFILES/SysML.profile.uml#_5WYJ0LX7EduFmqQsrNB9lw"/> 
  </extension>        

  <extension
        point="org.eclipse.uml2.uml.generated_package">
        <profile 
   			uri="http://www.eclipse.org/papyrus/0.7.0/SysML/Activities" 
   			location="pathmap://SysML_PROFILES/SysML.profile.uml#_C2zXMLX8EduFmqQsrNB9lw"/> 
  </extension>       

  <extension
        point="org.eclipse.uml2.uml.generated_package">
        <profile 
   			uri="http://www.eclipse.org/papyrus/0.7.0/SysML/Allocations" 
   			location="pathmap://SysML_PROFILES/SysML.profile.uml#_NxdG4LX8EduFmqQsrNB9lw"/> 
  </extension>     

  <extension
        point="org.eclipse.uml2.uml.generated_package">
        <profile 
   			uri="http://www.eclipse.org/papyrus/0.7.0/SysML/Requirements" 
   			location="pathmap://SysML_PROFILES/SysML.profile.uml#_OOJC4LX8EduFmqQsrNB9lw"/> 
  </extension>     
    
  <extension
        point="org.eclipse.uml2.uml.generated_package">
        <profile 
   			uri="http://www.eclipse.org/papyrus/0.7.0/SysML/Interactions" 
   			location="pathmap://SysML_PROFILES/SysML.profile.uml#_meOioLX8EduFmqQsrNB9lw"/> 
  </extension> 

  <extension
        point="org.eclipse.uml2.uml.generated_package">
        <profile 
   			uri="http://www.eclipse.org/papyrus/0.7.0/SysML/StateMachines" 
   			location="pathmap://SysML_PROFILES/SysML.profile.uml#_nAF5kLX8EduFmqQsrNB9lw"/> 
  </extension>
  <extension
        point="org.eclipse.uml2.uml.generated_package">
     <profile
           uri="http://www.eclipse.org/papyrus/0.7.0/SysML/UseCases"
           location="pathmap://SysML_PROFILES/SysML.profile.uml#_neZmMLX8EduFmqQsrNB9lw"/>
  </extension> 
  <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://SysML_LIBRARIES/"
            target="platform:/plugin/org.eclipse.papyrus.sysml/libraries/"/>
      <mapping
            source="pathmap://SysML_PROFILES/"
            target="platform:/plugin/org.eclipse.papyrus.sysml/model/"/>
   </extension>
   <extension
        point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
     <profile
           description="UML profile for SysML (from OMG SysML V1.1 formal/2008-11-02)"
           iconpath="icons/SysMLProfile.gif"
           name="SysML"
           path="pathmap://SysML_PROFILES/SysML.profile.uml"
           provider="CEA LIST">
     </profile>
  </extension>
  <extension
        point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
     <library
           description="UML profile for SysML (from OMG SysML V1.1 formal/2008-11-02)"
           iconpath="icons/SysMLLibrary.gif"
           name="SysMLPrimitiveTypes"
           path="pathmap://SysML_LIBRARIES/SysMLPrimitiveTypes.uml"
           provider="CEA LIST">
     </library>
  </extension>    
</plugin>
